*{
    margin: 0px;
}
body {
    background: #e0e5ec;
}
nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.navbar-image {
    width: 160px;
}

.searchbar-container{
    display: flex;
    margin: 0px 10px;
    padding: 0;
    align-items: center;
    flex: 1;
    align-items: stretch;

}
.searchbar{
    background: #e0e5ec;
    margin-right: 20px;
    flex: 1;
}
.searchbar input{
    background: #e0e5ec;
    padding: 10px;
    box-shadow: 9px 9px 16px -1px #00000026,
                -9px -9px 16px -1px #00000026;
    border-radius: 3px;
    border: none;
    width: 100%;
}
.searchbar input:focus{
    outline: none;
}

.searchbar-btn button {
    background-color: #363636;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    padding: 10px 12px;
    margin-left: 20px;
  }

.paginacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pokedex-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px;
    padding: 0px 10px;
}

@media screen and (max-width: 992px) {
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
@media screen and (max-width: 600px) {
   .pokedex-grid {
    grid-template-columns: repeat(1, 1fr);
   }
}

.pokemon-card {
    display: flex;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px -1px #00000026;
    border: 1 solid rgba(0,0,0,0.01);
    border-radius: 3px;
}

.pokemon-card:active {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px  rgba(255,255,255,1),
                0.5px 0.5px 0px  rgba(0,0,0,0.05);
    border: 1 solid rgba(0,0,0,0.01);
    transform: translateY(1px);
}




.pokemon-img-container{
    padding: 5px;
}
.pokemon-img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.pokemon-type{
    display: flex;
}
.pokemon-type-text{
    text-transform: capitalize;
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    color: #fff;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
    flex: 1;
}
.card-tittle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-tittle h3 {
    text-transform: capitalize;
}
.card-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.paginacion{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.App {
    font-family: sans-serif;
}

.icon {
    width: 28px;
    height: 28px;
  }
  
.pagination-btn {
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.not-found-text {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
}

footer {
    font-family: inherit;
    background-color: #363636;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.1rem;
  }
  footer a {
    color: #e58112;
  }